<!-- Responsive Header -->
<div class="container-fluid bg-blue shadow text-white py-2">
  <div class="row align-items-center">
    
    <!-- Logo -->
    <div class="col-6 col-md-4 ps-4">
      <!-- <a >
        <i class="fa-solid fa-arrow-left me-2 d-none d-sm-inline"></i>
 <img src="/img/pcc-logo.png" alt="Logo" class="img-fluid" style="max-width: 200px;">
      </a> -->
      <a href="#" class="text-white text-decoration-none" onclick="history.back(); return false;">
  <!-- <i class="fa-solid fa-arrow-left me-2 d-none d-sm-inline"></i> -->
  <!-- <i class="me-2 d-none d-sm-inline"><img src="/img/download (1).png" width="30" alt=""></i> -->
  <img src="/img/pcc-logo.png" alt="Logo" class="img-fluid" style="max-width: 200px;">
</a>
    </div>

    <!-- Spacer for large screens -->
    <div class="d-none d-md-block col-md-5"></div>

    <!-- Icons & Dropdown -->
    <div class="col-6 col-md-3 text-end pe-4">
      <!-- <i class="fa-regular fa-bell fs-5 me-3"></i> -->
     <a routerLink="/contact" class="text-white"><i class="fa-solid fa-phone-volume fs-5 me-3"></i></a>

      <!-- Dropdown -->
      <div class="dropdown d-inline">
        <i class="fa-solid fa-circle-user fs-5 " data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer;"></i>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" routerLink="/personal">👤 {{ username }}</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" (click)="logout()" style="cursor: pointer;"><i class="fa-solid fa-sign-out-alt"></i> ចេញ</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
