<div class="row">
    <div class="col-12">
      <!-- <div class="container-fuild "> -->
      <div class="row bg-blue shadow">
        <div class="col-1"></div>
        <div class="col-4 p-1">
          <a routerLink="/"><img src="/img/pcc-logo.png" alt="my image" class="w-50 ps-20px"></a>
        </div>
        <div class="col-5"></div>
        <div class="col-2 text-center">
          <i class="fa-regular fa-bell fs-2 pt-4 text-white"></i>
          <!-- <li *ngIf="isLoggedIn" class="nav-item">
            <a class="nav-link" (click)="logout()" style="cursor: pointer;">Logout</a>
          </li> -->
        </div>
      </div>
    </div>
  </div>
