<!-- footer -->
<footer class="bg-white border-top text-center text-lg-start shadow mt-5 bg-body-tertiary rounded">
    <div class="container p-4  p-3 mb-5 bg-body-tertiary rounded">
        <div class="row">

            <!-- Company Info -->
            <div class="col-lg-4 col-md-6 mb-2 mb-md-0">
                <h5 class="text-uppercase fs-4 moul-regular2">មជ្ឍមណ្ឌលកុំព្យូរទ័រប៉ោយប៉ែត</h5>
                <h6>POIPET COMPUTER CENTER</h6>
                <h6>វិន័យ សមត្ថភាព គុណភាព ការងារ</h6>
            </div>

            <!-- Address & Contact Info -->
            <div class="col-lg-5 col-md-6 mb-2 mb-md-0">
                <h5 class="text-uppercase mb-3">ព័ត៌មានទំនាក់ទំនង</h5>
                <ul class="list-unstyled ps-2">
                    <li class="mb-3">
                        <i class="bi bi-geo-alt-fill me-2"></i>
                        ផ្លូវលេខ 5, សង្កាត់ស្រះចក្រ, ក្រុងប៉ោយប៉ែត, ខេត្តបន្ទាយមានជ័យ
                    </li>
                    <li class="mb-3">
                        <i class="bi bi-telephone-fill me-2"></i>
                        លេខទូរស័ព្ទ: 093 456 789 / 012 345 678
                    </li>
                    <li class="mb-3">
                        <i class="bi bi-envelope-fill me-2"></i>
                        អ៊ីមែល: info-poipetcenter.edu.kh
                    </li>
                    <li class="mb-3">
                        <i class="bi bi-globe me-2"></i>
                        វេបសាយ: www.poipetcenter.edu.kh
                    </li>
                </ul>
            </div>


            <!-- Social Icons -->
            <div class="col-lg-3 col-md-6 mb-2 mb-md-0">
                <h5 class="text-uppercase mb-3">តាមដានពួកយើង</h5>
                <a href="#" class="me-3 text-dark"><i class="bi bi-facebook fs-5"></i></a>
                <a href="#" class="me-3 text-dark"><i class="bi bi-twitter fs-5"></i></a>
                <a href="#" class="me-3 text-dark"><i class="bi bi-instagram fs-5"></i></a>
                <a href="#" class="text-dark"><i class="bi bi-linkedin fs-5"></i></a>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="text-center p-3 bg-light border-top">
        © 2025 <span class="text-primary">PCC Online Learning</span>. All rights reserved.
    </div>
</footer>