<app-header></app-header>
<div class="row justify-content-center mt-5">
  <div class="col-md-8 card shadow">
    <div class="row">
      <div class="col-6 text-center">
        
        <div><img src="img/illustration.png" alt=""></div>
      </div>
      <div class="col-6 p-5">
        <h1 class="pt-3 text-center text-danger">ចូលគណនី</h1>
        <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
          <div class="mb-3">
            <label for="email" class="form-label">អ៊ីម៉ែល</label>
            <input type="email" class="form-control"  id="email" [(ngModel)]="email" name="email" required ngModel>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">លេខសម្ងាត់</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" required minlength="8" ngModel>
        </div>
        <div class="mb-3">បើអ្នកមិនទាន់មានគណនី?<a routerLink="/signup">បង្កើត</a></div>
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>
        <div class="mb-3 text-center">
            <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">ចូល</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>