
 <app-home-header></app-home-header>

<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-5">
        <div class="card login-card p-4">
          <div class="card-body">
            <div class="text-center mb-4">
              <a routerLink="/"><img src="/img/2.png" alt="Logo" style="height: 60px;"></a>
              <h4 class="moul mt-2">ចូលគណនី</h4>
            </div>
            <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
              <div class="mb-3">
                <label for="email" class="form-label">អ៊ីមែល</label>
                <input type="email" class="form-control" id="email" placeholder="example@gmail.com" [(ngModel)]="email" name="email" required ngModel>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">លេខសម្ងាត់</label>
                <input type="password" class="form-control" id="password" placeholder="********"  [(ngModel)]="password" name="password" required minlength="8" ngModel>
              </div>
              <!-- <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="rememberMe">
                <label class="form-check-label" for="rememberMe">ចងចាំខ្ញុំ</label>
              </div> -->

              <div class="d-grid mb-3">
                
                <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid"><i class="bi bi-box-arrow-in-right me-2"></i> ចូល</button>
              </div>

              <div class="text-center">
                <a routerLink="/forgot-password">ភ្លេចពាក្យសម្ងាត់?</a> |
                <a routerLink="/signup">ចុះឈ្មោះ</a>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
</div>