<div class="container-fuild header">
  <app-header></app-header>
</div>
<div class="container-fuild">
  <div class="row ">
    <div class="col-12 col-md-12 col-lg-2">
      <app-side-bar2></app-side-bar2>
    </div>
    <div class="col-2"></div>
    <div class="col-12 col-md-12 col-lg-6 mt-3 overflow-hidden ">
      <!-- វគ្គសិក្សាពេញនិយម -->
      <div class="row p-2 mt-5">
        <div class="col-12 mb-3 mt-3 fs-4 text-danger text-center p-2">ប្រវត្តិរូប</div>

        <div class="card p-5 border-0 shadow-card rounded-4">
          <div class="mb-3">
            <label for="" class="form-label">ឈ្មោះ</label>
            <input type="text" [value]="profile.username" class="form-control" readonly>
          </div>
          <div class="mb-3">
            <label for="" class="form-label">ភេទ</label>
            <input type="text" [value]="profile.gender" class="form-control" readonly>
          </div>
          <div class="mb-3">
            <label for="" class="form-label">លេខទូរស័ព្ទដៃ</label>
            <input type="text" [value]="profile.phone" class="form-control" readonly>
          </div>
          <div class="mb-3">
            <label for="" class="form-label">អ៊ីមែល</label>
            <input type="text" [value]="profile.email" class="form-control" readonly>
          </div>
          <div class="mb-3 text-center">
            <button (click)="onLogout()" class="btn btn-blue me-2 text-white">ចេញពីគណនីរបស់អ្នក</button>
             <a routerLink="/invoice" class="btn btn-primary text-white">ទាញយកវិក័យបត្រ</a>
          </div>
        </div>
        <div class="col-2"></div>
      </div>
      <!--ចក្ខុវិស័យ  -->


    </div>
  </div>
</div>