
 <section class="">
  <div class="container">
    <!-- <h4 class="mb-4 moul-regular">ព័ត៌មានវគ្គសិក្សា</h4> -->
    <div class="row row-cols-1 row-cols-md-3 g-4">

      <div class="col">
        <div class="card h-100 shadow-sm">
          <img [src]="'http://localhost:8000/storage/' + news[0].imageNews" alt="Center Image 1" class="card-img-top" style="height: 100%; width: 100%; object-fit: cover;">
        </div>
      </div>

      <div class="col">
        <div class="card h-100 shadow-sm">
          <img [src]="'http://localhost:8000/storage/' + news[1].imageNews" alt="Center Image 2" class="card-img-top" style="height: 100%; width: 100%; object-fit: cover;">
        </div>
      </div>

      <div class="col">
        <div class="card h-100 shadow-sm">
          <img [src]="'http://localhost:8000/storage/' + news[2].imageNews" alt="Center Image 3" class="card-img-top" style="height: 100%; width: 100%; object-fit: cover;">
        </div>
      </div>
    </div>
  </div>
</section>