<div class="container-fuild header">
    <app-header></app-header>
   </div>
   <div class="container-fuild">
     <div class="row">
       <div class="col-12 col-md-12 col-lg-2">
        <app-side-bar2></app-side-bar2>
       </div>
       <div class="col-12 col-md-12 col-lg-10 mt-3 overflow-hidden">
          <!-- វគ្គសិក្សាពេញនិយម -->
          <div class="row mt-5">
           <div class="col-12 mb-3 mt-3 ps-3 fs-4 text-danger border-bottom p-2">វគ្គសិក្សាពេញនិយម</div>
          
             <app-courses></app-courses>
           
          </div>
         <!--ចក្ខុវិស័យ  -->
         
         
       </div>
     </div>
   </div>
   
   <div class="container position-relative">
   
   </div>